{
    "base-path": "build/phar",
    "output": "../toolbox.phar",
    "compression": "GZ",
    "directories": ["."],
    "check-requirements": false,
    "main": "bin/toolbox.php",
    "compactors": [
        "KevinGH\\Box\\Compactor\\PhpScoper"
    ],
    "banner": [
        "This file is part of the zalas/toolbox project.",
        "",
        "(c) Jakub Zalas <jakub@zalas.pl>"
    ]
}
