{
    "timeout": 2,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "build/infection-log.txt"
    },
    "mutators": {
        "@default": true,
        "EqualIdentical": false,
        "NotIdenticalNotEqual": false,
        "Concat": false,
        "ConcatOperandRemoval": false,
        "ArrayItemRemoval": {
            "ignore": [
                "Zalas\\Toolbox\\Cli\\Command\\ListCommand::execute"
            ]
        }
    }
}
