<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="TOOLBOX_TARGET_DIR" value="" force="true" />
        <env name="TOOLBOX_TAGS" value="" force="true" />
        <env name="TOOLBOX_EXCLUDED_TAGS" value="" force="true" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <extensions>
        <extension class="Zalas\PHPUnit\Globals\AnnotationExtension"/>
    </extensions>

    <logging>
        <log type="coverage-html" target="build/coverage" lowUpperBound="50" highLowerBound="95"/>
        <log type="coverage-clover" target="build/coverage.xml"/>
    </logging>
</phpunit>
