<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" bootstrap="vendor/autoload.php" beStrictAboutOutputDuringTests="true" beStrictAboutTodoAnnotatedTests="true" colors="true">
  <coverage includeUncoveredFiles="true">
    <report>
      <clover outputFile="build/coverage.xml"/>
      <html outputDirectory="build/coverage" lowUpperBound="50" highLowerBound="95"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="TOOLBOX_TARGET_DIR" value="" force="true"/>
    <env name="TOOLBOX_TAGS" value="" force="true"/>
    <env name="TOOLBOX_EXCLUDED_TAGS" value="" force="true"/>
  </php>
  <extensions>
    <bootstrap class="Zalas\PHPUnit\Globals\AnnotationExtension"/>
  </extensions>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
