name: Update PHARs

on:
    schedule:
        -   cron: '30 3 * * *'
jobs:
    update-phars:
        runs-on: ubuntu-latest
        name: Create a PR
        steps:
            -   uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "7.4"
                    tools: flex
                    ini-values: "phar.readonly=0"

            -   uses: geertvdc/setup-hub@master

            -   name: Configure git
                run: git config user.email 'jakub@zalas.pl' && git config user.name 'Jakub Zalas'

            -   name: Update PHARs
                run: make package-devkit update-phars

            -   name: Send a Pull Request
                run: "git diff --exit-code master -- resources/ || hub pull-request -h tools-update -a jakzal -m 'Update tools' -m '' -m ':robot: This pull request was automagically sent from Github'"
                env:
                    GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
